* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
}
section {
  width: 1440px;
  margin: auto;
  margin-bottom: 80px;
  padding-top: 80px;
}

/* banner css start*/
header {
  background-color: rgba(229, 84, 115, 0.1);
}

.banner-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.banner-title {
  font-size: 80px;
  font-weight: 800;
  color: #272727;
}
.banner-description {
  width: 634px;
  font-size: 18px;
  color: rgba(39, 39, 39, 0.6);
  font-weight: 400;
  line-height: 30px;
  margin: 20px 0px;
}
.main-btn {
  border-radius: 8px;
  background: #e55473;
  color: #fff;
  padding: 20px 40px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}
.main-btn:hover {
  background-color: #272727;
  color: #e55473;
}

.banner-img {
  width: 625px;
  padding-top: 50px;
}
/* banner css end*/

/* featured css */
.featured {
  text-align: center;
  padding: 50px 0px;
}
.section-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
}
.section-description {
  width: 594px;
  margin: 20px auto;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.featured-box-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 50px 0px;
}
.featured-box1 {
  width: 400px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.featured-box1 img {
  position: absolute;
  left: 5%;
  bottom: 0;
}

.featured-box2 {
  width: 400px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.featured-box2 img {
  position: absolute;
  left: 5%;
  bottom: 8%;
}

.featured-box3 {
  width: 400px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.featured-box3 img {
  position: absolute;
  left: 5%;
  bottom: 0;
}

.featured-box-wrapper a {
  color: #272727;
  font-size: 20px;
  font-weight: 700;
  line-height: 35px;
  position: absolute;
  bottom: -45px;
  left: 100px;
}

.support {
  height: 280px;
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
}
.icon {
  width: 88px;
  height: 88px;
}

.support p {
  color: rgba(39, 39, 39, 0.8);
  font-size: 20px;
  font-weight: 600;
  line-height: 35px;
}
/* featured css end*/

/* Deal Section */
.hot-deal-section {
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
}

.deal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.deal-content h2 {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}
.special-creature {
  color: #e55473;
}
.deal-content p {
  width: 594px;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 20px 0px;
}

.deal-img {
  padding: 60px 40px;
}
/* Deal Section End*/

/* Social Section */
.social-img {
  display: flex;
  gap: 24px;
}
/* Social Section End*/